<style>
  select {
    padding: 10px 15px;
    margin: 5px 5px;
    background-color: white;
  }
</style>

<div data-controller="sort-link">
  <div class="">
    <%= form_with url: dashboard_index_path, 
                  method: :get,
                  data: { controller: 'debounce',
                          debounce_target: 'form',
                          turbo_action: "advance",
                          turbo_frame: "results",
                          action: 'input->debounce#search' 
                        } do |form| %>
      <%= form.search_field :invoice_number, value: params[:invoice_number],
                            class: 'w-full pl-3 pr-10 py-2 border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors mb-7 bg-white',
                            placeholder: 'Type by invoice' %>

      <div class="flex flex-row items-baseline">
      <div>
        <%= form.select :status, 
                        Invoice.statuses,
                        include_blank: 'Invoice status',
                        selected: params[:status] %>
      </div>

      <%= form.hidden_field :sort, value: params[:sort], data: { sort_link_target: "sort"} %>
      <%= form.hidden_field :direction, value: params[:direction], data: { sort_link_target: "direction"} %>

        <div class="w-full sm:w-1/2 pt-6 sm:pl-4 text-center mx-10"
             data-controller="range-slider"
             data-range-slider-min-value="<%= @min_amount %>"
             data-range-slider-max-value="<%= @max_amount %>"
             style="width: 250px;">

          <div data-range-slider-target="slider"></div>

          <%= form.hidden_field :min_amount,
                  value: params[:min_amount] || @min_amount,
                  data: { range_slider_target: "currentMin" } %>

          <%= form.hidden_field :max_amount,
                  value: params[:max_amount] || @max_amount,
                  data: { range_slider_target: "currentMax" } %>

          <div class="bottom-0 text-sm font-medium text-gray-500">
            Invoice amount
          </div>
        </div>

      <div class="row-2">
        Show
        <%= form.select :per_page,
              options_for_select([5, 10, 25, 50, 100],
              selected: params[:per_page]) %>
      </div>

      <div class='ml-4 flex items-baseline'>
          <p class="text-sm text-gray-700">
            Total pages:
            <span class="font-medium"><%= @pagy.pages %></span>
          </p>
        <%= form.number_field :page,
                              class: 'ml-4 w-full px-2 py-2 border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors mb-7 bg-white w-64',
                              placeholder: 1 %>
      </div>

      </div>
    <% end %>

    <%= turbo_frame_tag "results" do %>

    <div class="text-center">
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium"><%= @pagy.page %></span>
        page of
        <span class="font-medium"><%= @pagy.pages %></span>
      </p>
    </div>

    <%= turbo_frame_tag "modal" %>
      <div>
        <table class="min-w-full mt-6">
          <thead>
            <tr>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "Bait", "invoice_number" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "Status", "status" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "From", "initiator" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase">Payment Reference</th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "Transaction Time", "transaction_time" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "Amount", "transaction_amount" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase">Everypay response</th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase">Directo Data</th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase">Description</th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "E-invoice sent at", "sent_at_omniva" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "In Directo", "in_directo" %></th>
              <th class="px-6 py-1 border-b border-gray-200 bg-gray-50 text-left text-xs text-gray-500 uppercase"><%= sort_link_to "Created at", "created_at" %></th>
            </tr>
          </thead>
          <tbody id="invoices">
            <%= render 'shared/flash' if turbo_frame_request? %>

            <%= render @invoices %>
          </tbody>
        </table>

        <% if @pagy.pages > 1 %>
          <div class="footer text-center mt-2">
            <%== pagy_nav(@pagy) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
