<!DOCTYPE html>
<html lang="ee">
    <head>
        <title>EIS Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-100">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= render 'shared/navbar' %>
        <main class="flex-1 overflow-x-hidden overflow-y-auto">
            <div class="mx-auto px-6 py-8">
            <%= yield %>
            </div>
        </main>
    </body>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</html>
